openapi: 3.0.0
info:
  title: TickDB API
  description: Unified real-time market data API — one connection for Forex, indices,
    US stocks, HK stocks, A-shares, and Crypto via REST and WebSocket.
  version: 1.0.0
  contact:
    email: support@tickdb.ai
servers:
  - url: https://api.tickdb.ai
    description: Production server
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
paths:
  /v1/market/ticker:
    get:
      summary: Market Ticker
      description: Get real-time ticker snapshots for one or more symbols
      parameters:
        - name: symbols
          in: query
          required: true
          description: Comma-separated symbols (max 50)
          schema:
            type: string
            example: "BTCUSDT,AAPL.US"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: "success"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: "BTCUSDT"
                        price:
                          type: string
                          example: "43250.50"
                        change:
                          type: string
                          example: "1250.30"
                        change_percent:
                          type: string
                          example: "2.98"
                        volume:
                          type: string
                          example: "15420.5"
                        high:
                          type: string
                          example: "43800.00"
                        low:
                          type: string
                          example: "41900.00"
                        timestamp:
                          type: integer
                          example: 1703123456789
  /v1/market/kline:
    get:
      summary: K-line (Candlestick) Data
      description: Get historical candlestick data for a symbol
      parameters:
        - name: symbol
          in: query
          required: true
          description: Trading symbol
          schema:
            type: string
            example: "BTCUSDT"
        - name: interval
          in: query
          required: true
          description: K-line interval
          schema:
            type: string
            enum: ["1m", "5m", "15m", "30m", "1h", "4h", "12h", "1d", "1w", "1M"]
            example: "1h"
        - name: limit
          in: query
          required: false
          description: Number of records (default 100, max 1000)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
            example: 24
        - name: start_time
          in: query
          required: false
          description: Start timestamp in milliseconds
          schema:
            type: integer
            example: 1703123456789
        - name: end_time
          in: query
          required: false
          description: End timestamp in milliseconds
          schema:
            type: integer
            example: 1703209856789
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: "success"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          example: 1703123456789
                        open:
                          type: string
                          example: "43000.00"
                        high:
                          type: string
                          example: "43250.50"
                        low:
                          type: string
                          example: "42800.00"
                        close:
                          type: string
                          example: "43100.00"
                        volume:
                          type: string
                          example: "1250.5"
  /v1/market/depth:
    get:
      summary: Order Book Depth
      description: Get real-time order book bids and asks
      parameters:
        - name: symbol
          in: query
          required: true
          description: Trading symbol
          schema:
            type: string
            example: "BTCUSDT"
        - name: limit
          in: query
          required: false
          description: Depth levels (default 10, max 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
            example: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      symbol:
                        type: string
                        example: "BTCUSDT"
                      timestamp:
                        type: integer
                        example: 1703123456789
                      bids:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                          example: ["43100.00", "1.25"]
                      asks:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                          example: ["43101.00", "0.85"]
  /v1/market/trades:
    get:
      summary: Recent Trades
      description: Get latest trade prints for a symbol
      parameters:
        - name: symbol
          in: query
          required: true
          description: Trading symbol
          schema:
            type: string
            example: "BTCUSDT"
        - name: limit
          in: query
          required: false
          description: Number of trades (default 50, max 200)
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
            example: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: "success"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "12345678"
                        price:
                          type: string
                          example: "43150.00"
                        quantity:
                          type: string
                          example: "0.025"
                        side:
                          type: string
                          enum: ["buy", "sell"]
                          example: "buy"
                        timestamp:
                          type: integer
                          example: 1703123456789
  /v1/symbols/available:
    get:
      summary: Available Symbols
      description: List tradable instruments and supported markets
      parameters:
        - name: market
          in: query
          required: false
          description: Market filter
          schema:
            type: string
            enum: ["FOREX", "METALS", "INDICES", "US", "HK", "CN", "CRYPTO"]
            example: "CRYPTO"
        - name: limit
          in: query
          required: false
          description: Number of symbols (default 100, max 500)
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
            example: 50
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      symbols:
                        type: array
                        items:
                          type: object
                          properties:
                            symbol:
                              type: string
                              example: "BTCUSDT"
                            market:
                              type: string
                              example: "CRYPTO"
                            base_asset:
                              type: string
                              example: "BTC"
                            quote_asset:
                              type: string
                              example: "USDT"
                            status:
                              type: string
                              example: "active"
                      total:
                        type: integer
                        example: 1250
                      page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 50